body {
    background-color: #dbe7c7;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "IBM Plex Mono", monospace;
}

h2 {
    color: #11999E; 
}

#heading {
    color: #238080;
    font-family: "Itim", cursive;
    margin-top: 35px;
    font-size: 3.75rem; /* 100% = 16px = 1em so 375% = 60px = 3.75em */
}

#heading-intro {
    font-family: "Itim", cursive;
    font-size: 1.75rem;
    margin-top: -25px;
    color: #238080;
    font-weight: normal;
}

#heading_box {
    background-color: #A0C3D2;
    border-bottom: solid #000;
    position: relative;
    text-align: center;
}

#cloud_1 {
    display: inline-block;
    position:relative;
    top: 30px;
    left: 200px;
}

#cloud_2 {
    position:absolute;
    left: 350px;
}

#cloud_3 {
    position:absolute;
}

#mountain_img {
    position:relative;
}

#profile_picture {
    width: 200px;
    height: 200px;
    border: solid #000;
    border-radius: 100%;
    position: relative;
    top: 5px;
}

#introduction_text {
    text-justify: auto;
}

#skill-table {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}

#introduction {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 15px;
}

#technical-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid black;
    position:relative;
    top: 15px;
}

.profile-section {
    text-align: center;
    padding-top: 10px;
}

.bottom-box {
    padding: 0 10px;
    text-align: center;
}

.skill-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skill-box {
    border: double black;
    text-align: center;
}

.bottom-box {
    border-top: double black;
    background-color: #116e6e;
}

.footer-link {
    color: #112ab4;
}