body {
    background-color: #dbe7c7;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-family: "IBM Plex Mono", monospace;
}

#heading {
    color: rgba(12, 12, 11, 0.856);
    font-family: "Itim", cursive;
    margin-top: 0;
    padding-top: 3mm;
    font-size: 30px;
}

#heading_box {
    background-color: #A0C3D2;
    border-bottom: solid #000;
    position: relative;
    text-align: center;
}

#middle_box {
    background-color: #a5d0e7;
    height: 225px;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border: double;
}

#bottom_box {
    background-color: #a4c7da;
    height: 225px;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border: double;
}

#left_box {
    background-color:#000;
    height: 100px;
    width: 33.34%;
    float: left;
}

#center_box {
    background-color:rgb(128, 42, 42);
    height: 100px;
    width: 33.34%;
    margin: 0 auto;
    width: 33.34%;
    text-align: center;
}

#right_box {
    background-color:#000;
    height: 100px;
    width: 33.3%;
    float: right;
}

#cloud_1 {
    display: inline-block;
    position:relative;
    top: 10px;
    left: 200px;
}

#cloud_2 {
    position:absolute;
    left: 350px;
}

#cloud_3 {
    position:absolute;
}

#mountain_img {
    position:relative;
}

#profile_picture {
    width: 225px;
    height: 225;
    border: solid #000;
    border-radius: 100%;
}

#introduction_text {
    text-justify: auto;
}

#skill-table {
    margin-left: auto;
    margin-right: auto;
}

.introduction-table {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 10px;
}

.bottom-box {
    padding: 0 10px;
}